<a href="https://colab.research.google.com/github/MaxVortman/IDEA-code-clones/blob/master/code_clones_code2vec_fragments2vectors.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [0]:
import json
import os

CSV_DIR = '/content/gdrive/My Drive/code-clones/csv'
JSON_FILE = 'rxjava_code2vec_fragments_vectors.json'

json_path = os.path.join(CSV_DIR, JSON_FILE)

with open(json_path) as f:
    data = json.load(f)

In [0]:
data_not_none = []

for i in data:
  if i['vectors'] != []:
    data_not_none.append(i)

In [0]:
len(data_not_none)

4357

In [0]:
import numpy as np

average_fragments_data = []

for i in data_not_none:
  exp = [i['exp']]
  exp.extend(np.mean(i['vectors'], axis=0).tolist())
  average_fragments_data.append(exp)

In [0]:
import pandas as pd

df = pd.DataFrame(average_fragments_data)

In [0]:
cl = df.columns.tolist()
cl[0] = 'exp'
df.columns = cl

In [0]:
df.head()

,exp,1,2,3,4,5,6,7,8,9,...,375,376,377,378,379,380,381,382,383,384
0,1,0.709941,0.960252,-0.641487,0.829643,0.836526,-0.560549,0.698071,-0.533311,-0.538633,...,0.310022,-0.086393,-0.815978,-0.515899,0.929083,-0.749266,0.980251,0.784046,0.345489,0.725996
1,0,0.495881,0.840636,-0.784212,0.757531,0.644386,-0.848754,0.709994,-0.757907,-0.657400,...,0.623069,0.348438,-0.810133,-0.869722,0.938905,-0.910680,0.917575,0.457564,0.587078,0.732963
2,0,0.234800,-0.240827,0.394347,-0.844005,-0.640530,-0.451294,-0.224822,-0.562846,-0.163856,...,-0.328678,0.318178,-0.742563,-0.347770,-0.843668,0.101982,-0.258889,0.036475,-0.625112,-0.515003
3,0,0.200438,0.415844,-0.961721,0.120293,-0.053595,-0.918098,0.694363,-0.836056,-0.940148,...,0.593882,0.134139,-0.949402,-0.947381,0.926744,-0.933132,0.948562,0.022441,0.659805,-0.158803
4,0,-0.292524,0.240078,-0.310450,-0.546236,-0.273371,-0.103001,-0.503561,-0.111206,-0.095939,...,-0.474232,-0.102023,-0.435715,0.095129,0.342444,0.156715,-0.288920,0.000760,0.299796,0.003383

In [0]:
df.to_csv('/content/gdrive/My Drive/code-clones/csv/rxjava_code2vec_vectors.csv', index=False)